doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href="../dist/main.css")
    body(class="site-align")
        menu()
        script(type="text/javascript", src="../bower_components/requirejs/require.js" data-main="/js/main.js")