.site-align{
    margin-left: 10%;
    margin-right: 10%;
}
.description{
    margin-left: 5px;
    margin-right: 5px;
}
.input{
    margin-bottom: 5px;
}
.displayer{
    border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    border-radius: 3px;
}
.body-of-menu{
    padding-top: 20px;
    min-height: 300px;
}
.add-item-form{
    margin: 5px;
    padding: 5px;
}
.menu-item{
    cursor: pointer;
}
.body-of-menu .all-products{
    margin-left: 10%;
    max-width: 60%;
}