<div class="body-of-menu">
    <form class="pull-left">
        <div class="input">
            <label class="description label label-info">Name:</label>
            <input type="text" name="name"/>
        </div>
        <div class="input">
            <label class="description label label-info">count:</label>
            <input type="text" name="count"/>
        </div>

        <div class="input">
            <label class="description label label-info">country:</label>
            <input type="text" name="country"/>
        </div>
        <div class="input">
            <label class="description label label-info">category:</label>
            <input type="text" name="categories"/>
        </div>
        <input id="addItem" type="submit" class="btn btn-success" value="Add a new item"/>
    </form>
</div>
