<div class="modal-header">
    <h3 class="modal-title">Please sign in</h3>
</div>
<div class="modal-body">
    <form name="registerForm" class="form-signin">
        <div
                sf-schema="controller.loginForm.schema"
                sf-form="controller.loginForm.form"
                sf-model="user"
                sf-options="controller.loginForm.options">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="signIn()">Sign in</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
