<div class="body-of-menu" ng-controller="content.Item.itemController" ng-init="get('categories')">
    <h2><span class="label label-default">Welcome to edit menu</span></h2>

    <div class="input-group add-item-form">
        <span class="input-group-addon">Name:</span>
        <input class="form-control adding-item" placeholder="name" type="text" name="name" ng-model="product.name"/>
        <span class="input-group-addon">Count:</span>
        <input class="form-control adding-item" placeholder="count" type="text" name="count" ng-model="product.count"/>
        <span class="input-group-addon">Country:</span>
        <input class="form-control adding-item" placeholder="country" type="text" name="country"
               ng-model="product.country"/>
        <span class="input-group-btn">
            <div class="btn-group adding-item">
                <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown"
                        title="tote">
                    Choose category
                    <b class="caret"></b>
                </button>
                <ul class="multiselect-container dropdown-menu">
                    <li ng-repeat="category in categories" class="{{category.cssClass}} item-sized">
                        <a ng-click="selected(category)" class="item-select">
                                {{category.name}}
                        </a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-default adding-item" type="button" ng-click="add(product,'product')">Save</button>
        </span>
    </div>
    <div ng-show="successMessage" class="alert alert-success">{{successMessage}}</div>
    <div ng-show="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
</div>
