<div class="panel panel-primary text-center" ng-init="tab = 1">
    <div class="panel-heading">
        <div class="btn-group btn-group-xs pull-right" role="group" aria-label="">
            <a class="login-anchor btn btn-danger" ng-click="signUp()" ng-if="!user">Sign up</a>
            <a class="login-anchor btn btn-danger" ng-click="signIn()" ng-if="!user">Sign in</a>
            <a class="login-anchor btn btn-danger" ng-click="signOut()" ng-if="!!user">Sign out</a>
        </div>
        <h1 class="panel-title page-header">
            <span>Welcome to book store</span>
        </h1>
    </div>
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" ng-class="{active:tab ===1}">
            <a href="#/about" ng-click="tab = 1">About</a>
        </li>
        <li role="presentation" ng-class="{active:tab ===2}">
            <a href="#/addItems" ng-click="tab = 2">Add an item</a>
        </li>
        <li role="presentation" ng-class="{active:tab ===3}">
            <a href="#/getAllItems" ng-click="tab = 3">View all items</a>
        </li>
        <li role="presentation" ng-class="{active:tab ===4}">
            <a href="#/allCategories" ng-click="tab = 4">View all categories</a>
        </li>
    </ul>
    <div class="displayer" ng-view></div>
</div>
