<div ng-controller="content.Item.itemController" class="body-of-menu" ng-init="get('products')">
    <div class="all-products">
        <div ng-repeat="product in products">
            <div ng-show="!product.deleted" class="item">
                <div class="input-group input-group-sm">
                    <div class="form-control">
                        <span class="pull-left">
                            <span>{{product.name+'('+product.country+')'}}</span>
                            <span class="badge">{{product.count}}</span>
                        </span>
                    </div>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a ng-click="delete(product,'product')" class="menu-item">Delete</a></li>
                            <li><a class="menu-item">Edit</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>