doctype html
html(lang="en")
  head
      title= title
      link(rel='stylesheet', href="../libs/bootstrap/bootstrap.css")
      link(rel='stylesheet', href="../css/content.css")
      script(src="../libs/jquery/jquery.js" type="text/javascript")
      script(src="../libs/bootstrap/bootstrap.js" type="text/javascript")
  body(class="site-align")
    menu()
    script(type="text/javascript", src="../libs/requirejs/require.js" data-main="/js/main.js")